@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #d79351;
  font-family: "Rock Salt", cursive;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #d79351;
  text-decoration: none;
}

a:hover {
  color: #f1ba84;
}

.start {
  font-size: 1.5rem;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: url("./assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.screen h3 {
  width: 100%;
  text-align: center;
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  color: #d79351;
  cursor: pointer;
  font-family: inherit;
  padding: 0.5rem 1rem 0.25rem;
  font-size: 1.5rem;
  outline: none;
}

.time-btn:hover {
  color: #f1ba84;
}

.hide {
  opacity: 0;
}

.primary {
  color: #d79351;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80vmin;
  height: 80vmin;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: -8px -8px 10px #2a333d, 6px 7px 10px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  background: #d79351;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}
